@media screen and (max-width: 576px) {
  /* start Navbar Css  */
  .navbar-menu ul li:nth-child(1) {
    display: none;
  }
  .navbar-menu ul li:nth-child(2) {
    display: none;
  }
  .navbar-menu ul li:nth-child(3) {
    display: none;
  }
  .navbar-container {
    padding: 0px 15px;
  }
  .navbar-menu ul {
    padding: 22px 0px;
  }
  /* End Navbar Css  */
  /* Start The Banner Css */
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-text,
  .banner-image {
    max-width: 100%;
  }
  .banner-text {
    padding: 28px 15px 0px 15px;
  }
  .banner-text h3 {
    font-size: 24px;
  }
  .banner-text p {
    font-size: 14px;
  }
  /* End The Banner Css */
  /* Start The Plant Css */
  .plant h3 {
    font-size: 24px;
  }
  .plant p {
    font-size: 14px;
  }

  .plant-container p {
    padding: 0px 30px;
  }
  .plant-card-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 28px 15px 0px 15px;
  }
  .plant-card h4,
  .plant-card h5,
  .plant-card .btn {
    font-size: 16px;
  }
  .plant {
    padding: 60px 0px 0px 0px;
  }
  /* End The Plant Css */
  /* Start The Plant  lover Css */
  .plant-lover-container {
    flex-direction: column;
    padding: 28px 15px 0px 15px;
    gap: 0px;
  }
  .plant-image,
  .plant-text {
    max-width: 100%;
  }
  .plant-lover {
    padding: 0px;
  }
  .plant-lover-title {
    padding-top: 20px;
  }
  .plant-image .trusted-badge {
    display: none;
  }
  .plant-text h3 {
    font-size: 24px;
  }
  .plant-text ul li {
    font-size: 14px;
    margin-left: 20px;
  }

  /* Start The Plant  lover Css */
  /* Start The Join Section */
  .join {
    padding: 70px 10px;
  }
  .join-container h3 {
    font-size: 20px;
  }
  .join-container input[type="email"] {
    width: 170px;
    padding: 15px 20px;
    outline: none;
    border: none;
  }
  .join-container .button {
    padding: 13px 20px;
  }
  /* End The Join Section */
  /* Start The Footer Section */
  .footer-container {
    flex-direction: column;
    padding: 28px 15px 0px 15px;
  }
  .footer {
    padding: 10px 0px;
  }
  .footer-section {
    max-width: 100%;
  }
  .footer-image {
    margin-top: 10px;
  }
  .footer-section ul {
    grid-template-columns: repeat(1, 1fr);
  }
  /* End The Footer Section */
  /* Start The Latest Deal Section */
  .deal-card {
    flex-direction: column;
  }
  .deal-item-1,
  .deal-item-2 {
    width: 100%;
  }
  .latest-deal-container {
    padding: 28px 15px 0px 15px;
  }
  .deal-item-2 h4,
  .deal-item-2 a {
    font-size: 20px;
  }
  .deal-item-2 {
    padding: 67px 0px;
    margin-top: 10px;
  }
  .latest-deal p {
    padding: 16px 12px 0px 12px;
    font-size: 14px;
  }
  .latest-deal h3 {
    font-size: 24px;
  }
  .latest-deal {
    padding: 40px 0px 100px 0px;
    text-align: center;
  }
  /* End The latest Deal Section */
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .navbar-menu ul {
    padding: 22px;
    gap: 20px;
  }
  .plant-card-container {
    margin: 0px 15px;
  }
  .plant-lover-container {
    flex-direction: column;
    margin: 0px 15px;
  }
  .plant-image,
  .plant-text {
    max-width: 100%;
  }
  .plant-image .trusted-badge {
    display: none;
  }
  .plant-text ul li {
    font-size: 20px;
    margin-left: 20px;
  }
  .plant-lover {
    padding: 50px 0px;
  }
  .deal-card {
    flex-direction: column;
  }
  .deal-item-1,
  .deal-item-2 {
    width: 100%;
  }
  .deal-item-2 {
    padding: 67px 0px;
    margin-top: 10px;
  }
  .deal-item-2 h4,
  .deal-item-2 a {
    font-size: 20px;
  }
  .deal-card {
    margin: 0px 15px;
  }
  .join-container input[type="email"] {
    width: 347px;
  }
  .footer-image img {
    padding-right: 10px;
  }
  .footer-section p {
    font-size: 16px;
    color: var(--paragraph-color);
  }
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-text,
  .banner-image {
    max-width: 100%;
  }
  .banner-text {
    margin: 0px 15px;
  }
}
