/* font Css  */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --main-bg-color: #f5f8ff;
  --primary-color: #e95a08;
  --secondary-color: #000000;
  --white-color: #ffffff;
  --dark-color: #111111;
  --paragraph-color: rgba(0, 0, 0, 0.5);
}
/* Common Css */
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
body {
  background-color: var(--main-bg-color);
}
.max-width {
  max-width: 1140px;
  margin: 0px auto;
}
/* Start The Navbar Section */
.navbar-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.navbar-menu ul {
  display: flex;
  padding: 22px;
  gap: 48px;
}
.navbar-menu {
  padding-top: 10px;
}
.navbar-menu ul a {
  align-items: center;
}
.navbar-menu ul li a {
  color: #8987a1;
  font-size: 20px;
}
.navbar-menu ul li a i {
  margin-right: 10px;
}
.navbar-menu .active {
  color: #252432;
  font-weight: bold;
}
/* End The Navbar Section */
/* Start The Banner Section */
.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 60px;
  padding-top: 120px;
}
.banner-text,
.banner-image {
  max-width: 50%;
}
.banner-text h3 {
  font-size: 65px;
  font-weight: bold;
  color: var(--primary-color);
}
.banner-text h3 span {
  color: var(--secondary-color);
}
.banner-text p {
  font-size: 22px;
  color: var(--paragraph-color);
  margin-top: 13px;
}
